src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f4621deb-f761-469a-9020-d9a8780af056" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="64bb6672-244e-44bf-92a4-eeb5a7c96b8a" >
		<http:listener doc:name="Listener" doc:id="e976e8ec-df60-4c8b-ab89-4cd7d6fdbbf5" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value="#['hello i am testing']" doc:name="Set Payload" doc:id="be415095-bc49-4519-9e56-bf313c3a618e" />
	</flow>
</mule>
